html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column; 
  justify-content: top; 
  align-items: center;     
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

/* Cleaned up the canvas CSS since layout is handled by the body now */
canvas {
  display: block;
}
